.notepad-index {
    width: 100%;
    padding: 24px 32px;

    .ant-card {
        transition: ease-in-out 1s;
    }

    .ant-card-head-title {
        span {
            display: inline-block;
            line-height: 32px;
            vertical-align: top;
        }
    }

    .loading-icon {
        margin-top: 10%;
    }
}