$base-dark: #121212;
$dark-layer-1: #212121;
$dark-layer-2: #303030;
$dark-layer-3: #424242;

.ant-layout {
    background: $base-dark !important;
}

.ant-layout-header {
    background: #212121 !important;
}

.ant-modal-content {
    background-color: #303030 !important;
}

.ant-modal-footer {
    border-top: 1px solid #000000 !important;
}

label, .ant-input-suffix span {
    color: #fff !important;
}

.ant-modal-close-x {
    color: #fff;
    opacity: 0.8;

    &:hover {
        opacity: 1;
    }
}

input, .ant-input-affix-wrapper {
    background-color: #424242 !important;
    color: #fff !important;
}

.ant-card-bordered {
    background: #303030 !important;
    border-color: #424242 !important;

    .ant-card-head {
        border-color: #747474;

        a {
            font-size: 1.2em;
            color: #03DAC6 !important;
        }
    }

    p {
        color: #fff !important;
    }
}

h1 {
    color: #fff !important;
}