@import './reset.scss';
@import './forms/register-form.scss';
@import './components/navbar.scss';
@import './components//notepad_index.scss';
@import './color_overrides/colors.scss';

#root, .ant-layout {
    height: 100%;
}

.splash {
    display: flex;
    flex-direction: column;
    align-items: center;
}